table.source {
    border-style: solid;
    border-color: #bbb;
    border-spacing: 0;
    /*border-collapse: collapse;*/
    /*width: 100%;*/
}

table.source .text {
    margin-top: -1px;
}

table.source th {
    padding-left: 0.5em;
    font-weight: bold;
    background-color: #f0f0f0;
}

.nowrap {
  white-space: nowrap;
}
.red {
  background-color: red;
}


div.percentgraph {
  background-color: #80ff80;
  border: #808080 0px solid;
  height: 1.3em;
  margin: 0px;
  padding: 0px;
 /* width: 100px;*/
}

div.percentgraph div.greenbar {
  background-color: #80ff80;
  height: 1.3em;
  margin: 0px;
  padding: 0px;
}
div.percentgraph div.redbar {
  background-color: #ff9090;
  height: 1.3em;
  margin: 0px;
  padding: 0px;
}

div.percentgraph div.na {
  background-color: #eaeaea;
  height: 1.3em;
  margin: 0px;
  padding: 0px;
}

div.percentgraph span.text {
  display: block;
  text-align: center;
  position: absolute;
  width: 100px;
}

table.percentgraph {
  border: 0px;
  font-size: 100%;
  margin: 0px;
  margin-left: 0px;
  margin-right: 0px;
  padding: 0px;
  text-align: left;
}

table.percentgraph tr.percentgraph {
  border: 0px;
  margin: 0px;
  padding: 0px;
}

table.percentgraph td.percentgraph {
  border: 0px;
  margin: 0px;
  padding: 0px;
  padding-left: 4px;
}

table.percentgraph td.data {
    padding-top: 3px;
    padding-bottom: 0px;
    text-align: right;
}
